<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fixed Layout</title>
  <link href="../assets/css/dist/output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
  <!-- Sidebar -->
  <aside class="fixed inset-y-0 left-0 z-50 w-64 bg-gray-800">
    <!--- Logo -->
    <div class="flex items-center h-16 px-4 bg-gray-900">
      <i class="fas fa-users text-white"></i><span class="text-white text-lg font-bold ml-5">Admin Panel</span>
    </div>
    <!-- Navigation -->
    <nav class="mt-5 overflow-y-auto h-[calc(100vh-4rem)]">
      <a href="#" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
        <i class="fas fa-tachometer-alt mr-3"></i>Dashboard
      </a>
      <button class="w-full flex items-center justify-between 
      px-4 py-2 text-gray-100 hover:bg-gray-700">
        <div class="flex items-center">
          <i class="fas fa-users mr-3"></i>Users
        </div>
      </button>
      <a href="#" class="block px-8 py-2 text-gray-200 hover:bg-gray-600">All Users</a>
      <a href="#" class="block px-8 py-2 text-gray-200 hover:bg-gray-600">Add Users</a>
      <a href="#" class="block px-8 py-2 text-gray-200 hover:bg-gray-600">User Roles</a>

      <button class="w-full flex items-center justify-between 
      px-4 py-2 text-gray-100 hover:bg-gray-700">
        <div class="flex items-center">
          <i class="fas fa-cog mr-3"></i>Settings
        </div>
      </button>
    </nav>
  </aside>
  <div class="flex-1 flex flex-col md:ml-64">
    <!-- Header -->
    <header
      class="bg-white shadow-sm h-16 flex items-center justify-between px-4 fixed top-0 right-0 left-0 md:left-64 z-30">
      <button class="text-gray-500">
        <i class="fas fa-bars text-2xl"></i>
      </button>
      <div class="flex items-center">
        <div class="relative">
          <input type="text" placeholder="Search..." class="pl-10 pr-4 py-2 
          rounded-lg border focus:outline-none focus:ring-2 focus:ring-blue-500">
          <i class="fas fa-search absolute left-3 
          top-1/2 transform -translate-y-1/2 text-gray-400"></i>
        </div>

        <div class="ml-4 flex items-center">
          <button class="text-gray-500 mr-4">
            <i class="fas fa-bell"></i>
          </button>
          <div class="w-8 h-8 rounded-full bg-gray-300"></div>
        </div>
      </div>
    </header>
    <main class="p-6 mt-16 flex-1 overflow-y-auto">
      <div>
        <h1 class="text-2xl font-bold mb-6">Dashboard</h1>
      </div>
    </main>
  </div>
</body>

</html>